services:
  github-runner:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: github-self-hosted-runner
    environment:
      REPO_URL: ${REPO_URL}
      RUNNER_TOKEN: ${RUNNER_TOKEN}
      RUNNER_NAME: local-docker-runner
      RUNNER_LABELS: self-hosted
      RUNNER_ALLOW_RUNASROOT: "1"   # <-- add this

    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - ./runner-data:/runner/_work

    restart: unless-stopped
