apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  APP_ENV: {{ .Values.application.env | quote }}
  APP_PORT: {{ .Values.application.configMap.port | quote }}
  DB_HOST: postgres
  DB_PORT: {{ .Values.database.port | quote }}
  DB_NAME: {{ .Values.database.name | quote }}
