apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: student-api-{{ .Values.application.env }}
data:
  APP_ENV: {{ .Values.application.env | quote }}
  APP_PORT: {{ .Values.application.configMap.port | quote }}
  DB_HOST: {{ .Values.application.configMap.dbHost | quote }}
  DB_PORT: {{ .Values.application.configMap.dbPort | quote }}
  DB_NAME: {{ .Values.application.configMap.dbName | quote }}

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-api-app
  namespace: student-api-{{ .Values.application.env }}
  labels:
    app: student-api-app
spec:
  replicas: {{ int .Values.application.deployment.replicaCount }}
  selector:
    matchLabels:
      app: student-api-app
  template:
    metadata:
      labels:
        app: student-api-app
    spec:
      # TODO: create dockerhub-creds or have CI create it. This can later be moved to eso/vso
      imagePullSecrets:
        - name: dockerhub-creds

      containers:
        - name: student-api
          image: {{ .Values.application.image }}
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: app-config
            # TODO: Replace this Secret with an ExternalSecret managed by ESO.
            - secretRef:
                name: db-credentials

---

apiVersion: v1
kind: Service
metadata:
  name: student-api
  namespace: student-api-{{ .Values.application.env }}
  annotations:
    nginx.ingress.kubernetes.io/load-balance: "least_conn"
spec:
  selector:
    app: student-api-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: ClusterIP
