apiVersion: v1
kind: Namespace
metadata:
  name: student-api-{{ .Values.application.env }}

---

apiVersion: v1
kind: Secret
metadata:
  name: db-credentials
  namespace: student-api-{{ .Values.application.env }}
stringData:
  DB_NAME: {{ .Values.database.name }}
  DB_USERNAME: {{ .Values.database.username }}
  DB_PASSWORD: {{ .Values.database.password }}
  DB_PORT: {{ .Values.database.port | quote}}
  DB_URL: {{ .Values.database.url }}

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: student-api-{{ .Values.application.env }}
  labels:
    app: postgres
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:15
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_NAME
            - name: POSTGRES_USER
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_USERNAME
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: db-credentials
                  key: DB_PASSWORD

---

apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: student-api-{{ .Values.application.env }}
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
      protocol: TCP
  type: ClusterIP
  #TODO: add volume
