apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: dockerhub-creds
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault-backend
    kind: ClusterSecretStore

  data:
    - secretKey: username
      remoteRef:
        key: secret/dockerhub
        property: username
    - secretKey: password
      remoteRef:
        key: secret/dockerhub
        property: password
    - secretKey: email
      remoteRef:
        key: secret/dockerhub
        property: email

  target:
    name: dockerhub-creds
    creationPolicy: Owner
    template:
      type: kubernetes.io/dockerconfigjson
      engineVersion: v2
      data:
        .dockerconfigjson: |
          {
            "auths": {
              "https://index.docker.io/v1/": {
                "username": "{{ .username }}",
                "password": "{{ .password }}",
                "email": "{{ .email }}",
                "auth": "{{ printf "%s:%s" .username .password | b64enc }}"
              }
            }
          }
