apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
  namespace: student-api
data:
  APP_ENV: production
  APP_PORT: "8080"
  DB_HOST: "postgres.student-api.svc.cluster.local"
  DB_PORT: "5432"
  DB_NAME: "student-db"
  DB_URL: "jdbc:postgresql://postgres.student-api.svc.cluster.local:5432/student-db"
  DB_USERNAME: "postgres"
  DB_PASSWORD: "postgres"

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: student-api-app
  namespace: student-api
  labels:
    app: student-api-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: student-api-app
  template:
    metadata:
      labels:
        app: student-api-app
    spec:
      # TODO: create dockerhub-creds or have CI create it. This can later be moved to eso/vso
      imagePullSecrets:
        - name: dockerhub-creds

      containers:
        - name: student-api
          image: IMAGE_PLACEHOLDER
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          envFrom:
            - configMapRef:
                name: app-config
            # TODO: Replace this Secret with an ExternalSecret managed by ESO.
            - secretRef:
                name: db-credentials

---

#TODO: Use ingress instead of node port
apiVersion: v1
kind: Service
metadata:
  name: student-api
  namespace: student-api
spec:
  selector:
    app: student-api-app
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8080
  type: NodePort
