name: CI - Check and build image

on:
  push:
    paths:
      - 'src/**'
  workflow_dispatch: { }

jobs:
  lint_test_build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run lint (spotlessCheck)
        run: make lint-check

      - name: Run tests
        run: make test

      - name: Build API
        run: make build


  docker_publish:
    runs-on: self-hosted
    needs: lint_test_build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Determine version + sha
        id: vars
        run: |
          VERSION=$(./gradlew -q printVersion)
          SHA=$(git rev-parse --short HEAD)
          echo "VERSION=$VERSION" >> $GITHUB_OUTPUT
          echo "SHA=$SHA" >> $GITHUB_OUTPUT

      - name: Docker login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build docker image with tag
        run: |
          make docker-build-with-tag VERSION=${{ steps.vars.outputs.VERSION }} \
            SHA=${{ steps.vars.outputs.SHA }} \
            DOCKER_REPO=${{ secrets.DOCKER_REPO }}

      - name: Push tagged image
        run: |
          make docker-push-with-tag VERSION=${{ steps.vars.outputs.VERSION }} \
            SHA=${{ steps.vars.outputs.SHA }} \
            DOCKER_REPO=${{ secrets.DOCKER_REPO }}