name: CI - Check and build image

on:
  push:
    paths:
      - 'src/**'
  workflow_dispatch: {}

jobs:
  lint_test_build:
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run lint (spotlessCheck)
        run: make lint-check

      - name: Run tests
        run: make test

      - name: Build API
        run: make build


  docker_publish:
    runs-on: self-hosted
    needs: lint_test_build

    env:
      DOCKER_REPO: ${{ secrets.DOCKER_REPO }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Docker login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login \
            -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Docker build (via Makefile)
        run: |
          make docker-build

      - name: Docker push (via Makefile)
        run: |
          make docker-push DOCKER_REPO=${DOCKER_REPO}
